:root {
    font-size: 16px;

    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-color: var(--pale-blue);
    font-family: 'Red Hat Display';
}

.container {
    background-color: white;
    width: 28rem;
    border-radius: 1rem;
    margin: auto;
    margin-top: 10vh;
}

.image img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.content h2{
    font-weight: 900;
}
.content p {
    margin-top: 1rem;
    font-weight: 500;
    color: var(--desaturated-blue);
}

.content {
    text-align: center;
    padding: 3rem;
    padding-top: 3rem;
}
.content-plan {
    background-color: var(--very-pale-blue);
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.content-plan-content {
    display: inline-block;
    margin-left: 1rem;
    vertical-align: top;
}
.content-plan-content h3, .content-plan-content p{
    padding: 0px;
    margin: 0px;
}
.buttons {
    text-align: center;
}
button {
    cursor: pointer;
    font-weight: 700;
    font-size: 0.9rem;
}
button:hover {
    opacity: 0.85;
}
.payment-button {
    border-style: none;
    background-color: var(--bright-blue);
    color: white;
    width: 100%;
    padding: 1rem;
    border-radius: 0.75rem;
    box-shadow: 0px 25px 28px -20px var(--bright-blue);
    margin-top: 2rem;
}

.cancel-button {
    background-color: transparent;
    border-style:  none;
    margin-top: 1.5rem;
    color: var(--dark-blue)
}

@media screen and (max-width: 500px) {
    .container {
        width: 100%;
    }

    .content-plan {
        flex-direction: column;
    }
}