body {
    background-color: hsl(212, 45%, 89%);
}
.qr-card {
    font-family: 'Outfit';
    font-size: 15px;
    width: 15rem;
    margin: auto;
    margin-top: 200px;
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 10px; 

    box-shadow: 1px 1px 5px rgb(200, 200, 200), -1px -1px 5px rgb(200, 200, 200);
}

.qr-img {
    width: 100%; 
}

.qr-img img {
    width: 100%;
    border-radius: 10px;
}

.qr-text {
    margin-top: 20px;
    text-align: center;
    padding: 0px;
}

.text1 {
    font-weight: 700;
}
.text2 {
    font-weight: 400;
}